/* 
google fonts 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/
body {
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-60p {
    width: 60%;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    margin: 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.section-banner {
    height: 100vh;
    width: 100vw;
    background-image: url(images/donation-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
    color: white;
}

.button-link {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #FF5959;
    padding: 12px 20px;
    border-radius: 5px;
}