/* 
google fonts 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Lobster', cursive;
*/
body {
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-60p {
    width: 60%;
}

.container-50p {
    width: 50%;
}

.container-50p p {
    padding: 0 10%;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    margin: 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.section-banner {
    height: 100vh;
    width: 100%;
    background-image: url(images/donation-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
    color: white;
}

.button-link {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #FF5959;
    padding: 12px 20px;
    border-radius: 5px;
}

.section-donate {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.donate-intro {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.donate-intro p {
    color: #707070;
    margin-bottom: 50px;
}

.donate-select {
    display: block;
}

.donate-select h3 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #707070;
    border: 2px solid #FAFAFA;
    display: inline-block;
    background-color: #FAFAFA;
    width: 130px;
    padding: 45px 0;
    border-radius: 5px;
    margin: 0 8px;
}


#donate-200tk {
    background-color: #FFEEEE;
    border-color: #FF5959;
    color: #FF5959;
}

.donate-select h3:hover {
    background-color: #FFEEEE;
    border-color: #FF5959;
    color: #FF5959;
    transition: .5s ease;
    cursor: pointer;
}

.donate-input {
    margin: 50px auto;
    width: 60%;
}

.donate-input input {
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 30px;
    margin-top: 20x;
    font-size: 18px;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
}

.donate-input ::placeholder {
    color: #B3B3B3;
}

.donate-btn {
    display: flex;
    justify-content: center
}

.section-plan {
    padding-bottom: 100px;
}

.plan-cards {
    display: flex;
    justify-content: center;
    margin: 0 8%;
}

.card {
    font-family: 'Poppins', sans-serif;
    width: 30%;
    background-color: #B3B3B3;
    margin: 1.5%;
    padding: 60px 25px;
    border-radius: 5px;
}

.card h3 {
    font-size: 24px;
}

.card p {
    font-size: 16px;
    color: #707070;
}

#food-blue {
    background-color: #4F9DA610;
}

#shelter-pink {
    background-color: #FF595910;
}

#education-yellow {
    background-color: #FFF4D6;
}

.section-contribute {
    display: flex;
    padding: 0 8%;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-right: 10%;
}

.half-width p {
    color: #707070;
}

.half-width img {
    border-radius: 10px;
}

.section-map {
    display: flex;
    padding: 0 8%;
    margin-bottom: 100px;
}

.section-map .half-width img {
    width: 100%;
}

.section-map ul {
    list-style: none;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.section-map ul li::before {
    content: "\25C9";
    color: #FF5959;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.section-map h2 {
    margin-top: 50px;
}

.section-map .half-width {
    padding-right: 0;
}


.section-updates {
    margin-bottom: 100px;
}


.email-form .container-50p {
    background-color: #FFF4D6;
    padding: 75px;
}

.email-form input {
    background-color: #D9D9D9;
    border: none;
    border-radius: 0;
    margin: 0;
    font-size: 16px;
    padding: 12px 15px;
    font-family: 'Poppins', sans-serif;
}

.email-form .email-email {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
}

.email-form .email-btn {
    padding: 12px 40px;
    background-color: #FF5959;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -4px;
}


footer {
    background-color: #0B0D17;
    padding: 50px 0;
    text-align: center;
}

footer h2 {
    color: #FF5959;
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    margin-top: 0;
    font-weight: 200;
}

footer p {
    color: #D9DBE1;
    font-size: 14px;
}